## Домашнее задание №8

In [208]:
import pandas as pd

In [209]:
DATASET_FILE_PATH = './dataset-registry.csv'

### Загружаем данные из файла "dataset-registry.csv"

In [210]:
df = pd.read_csv(DATASET_FILE_PATH, sep=';', on_bad_lines='warn')

In [211]:
df.head()

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
0,60/104,Аасма,Алиса,Михайловна,Псковская область,"Лицо, сдавшее квалификационный экзамен",Да
1,77/1983-н/77,Абабкова,Ольга,Александровна,г. Москва,Действующий,Нет
2,июн.48,Абадиева,Ася,Магомет-Башировна,Республика Ингушетия,"Лицо, сдавшее квалификационный экзамен",Нет
3,07/227,Абаев,Анзор,Игоревич,Кабардино-Балкарская Республика,"Лицо, сдавшее квалификационный экзамен",Да
4,64/432,Абаева,Анна,Вячеславовна,Саратовская область,"Лицо, сдавшее квалификационный экзамен",Нет

In [212]:
df.columns

Index(['Рег. номер', 'Фамилия', 'Имя', 'Отчество', 'Субъект РФ',
       'Статус нотариуса', 'Исполнящий обязанности'],
      dtype='object')

### Смотрим что у нас с данными

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23160 entries, 0 to 23159
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Рег. номер              22065 non-null  object
 1   Фамилия                 23160 non-null  object
 2   Имя                     23160 non-null  object
 3   Отчество                23158 non-null  object
 4   Субъект РФ              22372 non-null  object
 5   Статус нотариуса        22065 non-null  object
 6   Исполнящий обязанности  23160 non-null  object
dtypes: object(7)
memory usage: 1.2+ MB

In [214]:
df.describe()

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
count,22065,23160,23160,23158,22372,22065,23160
unique,22065,12398,1391,2141,86,4,2
top,60/104,Иванова,Елена,Александровна,г. Москва,"Лицо, сдавшее квалификационный экзамен",Нет
freq,1,115,1556,1756,2426,11298,17817

### Сразу удаляем дубли

In [215]:
df = df.drop_duplicates()

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23133 entries, 0 to 23159
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Рег. номер              22065 non-null  object
 1   Фамилия                 23133 non-null  object
 2   Имя                     23133 non-null  object
 3   Отчество                23131 non-null  object
 4   Субъект РФ              22372 non-null  object
 5   Статус нотариуса        22065 non-null  object
 6   Исполнящий обязанности  23133 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

In [217]:
df.loc[(df['Рег. номер'].duplicated() == True) & (df['Исполнящий обязанности'] == 'Нет')]

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
81,NaN,Абенова,Сауле,Батыбаевна,NaN,NaN,Нет
82,NaN,Абенова,Сауле,Батыбаевна,Республика Алтай,NaN,Нет
87,NaN,Аблаутова,Елена,Александровна,Свердловская область,NaN,Нет
139,NaN,Абросимова,Мария,Николаевна,Вологодская область,NaN,Нет
163,NaN,Авдалян,Нарек,Саргисович,NaN,NaN,Нет
...,...,...,...,...,...,...,...
22972,NaN,Яковлева,Анна,Валерьевна,Тамбовская область,NaN,Нет
23023,NaN,Якупова,Разима,Мухаметхаевна,NaN,NaN,Нет
23075,NaN,Яншина,Ирина,Владимировна,NaN,NaN,Нет
23095,NaN,Ярмухаметова,Раиля,Тимергалиевна,NaN,NaN,Нет
23107,NaN,Ярус,Лариса,Александровна,NaN,NaN,Нет

### Смотрим наличие дублей по полям 'Рег. номер', 'Фамилия', 'Имя', 'Отчество'

In [218]:
df[df.duplicated(['Рег. номер', 'Фамилия', 'Имя', 'Отчество'], keep='first')]

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
82,NaN,Абенова,Сауле,Батыбаевна,Республика Алтай,NaN,Нет
3995,NaN,Гадельшина,Эльза,Рузалифовна,NaN,NaN,Нет
6792,NaN,Забавников,Евгений,Владимирович,Амурская область,NaN,Нет
6822,NaN,Забрускова,Анна,Эдуардовна,Калужская область,NaN,Нет
21405,NaN,Ченских,Тамара,Николаевна,Иркутская область,NaN,Нет
21903,NaN,Шамина,Александра,Алексеевна,NaN,NaN,Нет

### Дубли есть, потому удаляем.

In [219]:
mask = df.duplicated(['Рег. номер', 'Фамилия', 'Имя', 'Отчество'], keep='first')
df = df[~mask]
df

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
0,60/104,Аасма,Алиса,Михайловна,Псковская область,"Лицо, сдавшее квалификационный экзамен",Да
1,77/1983-н/77,Абабкова,Ольга,Александровна,г. Москва,Действующий,Нет
2,июн.48,Абадиева,Ася,Магомет-Башировна,Республика Ингушетия,"Лицо, сдавшее квалификационный экзамен",Нет
3,07/227,Абаев,Анзор,Игоревич,Кабардино-Балкарская Республика,"Лицо, сдавшее квалификационный экзамен",Да
4,64/432,Абаева,Анна,Вячеславовна,Саратовская область,"Лицо, сдавшее квалификационный экзамен",Нет
...,...,...,...,...,...,...,...
23155,25/45-н/25,Ященко,Светлана,Ивановна,Приморский край,Действующий,Нет
23156,78/290-н/78,Ященков,Сергей,Владимирович,г. Санкт-Петербург,Действующий,Нет
23157,24/204,Ященкова,Елена,Александровна,Красноярский край,"Лицо, сдавшее квалификационный экзамен",Нет
23158,52/160-н/52,Ящерицына,Вера,Александровна,Нижегородская область,Действующий,Нет
23159,77/1134,Ящук,Юрий,Ануфриевич,г. Москва,"Лицо, сдавшее квалификационный экзамен",Нет

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23127 entries, 0 to 23159
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Рег. номер              22065 non-null  object
 1   Фамилия                 23127 non-null  object
 2   Имя                     23127 non-null  object
 3   Отчество                23125 non-null  object
 4   Субъект РФ              22368 non-null  object
 5   Статус нотариуса        22065 non-null  object
 6   Исполнящий обязанности  23127 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

### Смотрим наличие задвоений по полям 'Рег. номер' и 'Статус нотариуса'

In [221]:
df[(df['Рег. номер'].isna()) & (df['Статус нотариуса'].isna())].count()

Рег. номер                   0
Фамилия                   1061
Имя                       1061
Отчество                  1060
Субъект РФ                 396
Статус нотариуса             0
Исполнящий обязанности    1061
dtype: int64

In [222]:
df[(df['Рег. номер'].isna())].count()

Рег. номер                   0
Фамилия                   1062
Имя                       1062
Отчество                  1061
Субъект РФ                 397
Статус нотариуса             1
Исполнящий обязанности    1062
dtype: int64

### Видим, что есть запись без рег. номера, но с заполенным статусом. Смотрим.

In [223]:
df[(df['Рег. номер'].isna()) & (df['Статус нотариуса'].isna() == False)]

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
19012,NaN,Сутыгина,Светлана,Ульфатовна,Удмуртская Республика,Полномочия прекращены,Нет

### Можно удалять.

In [224]:
mask = (df['Рег. номер'].isna())
df = df[~mask]

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22065 entries, 0 to 23159
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Рег. номер              22065 non-null  object
 1   Фамилия                 22065 non-null  object
 2   Имя                     22065 non-null  object
 3   Отчество                22064 non-null  object
 4   Субъект РФ              21971 non-null  object
 5   Статус нотариуса        22064 non-null  object
 6   Исполнящий обязанности  22065 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

### Полученный результат.

In [226]:
df

,Рег. номер,Фамилия,Имя,Отчество,Субъект РФ,Статус нотариуса,Исполнящий обязанности
0,60/104,Аасма,Алиса,Михайловна,Псковская область,"Лицо, сдавшее квалификационный экзамен",Да
1,77/1983-н/77,Абабкова,Ольга,Александровна,г. Москва,Действующий,Нет
2,июн.48,Абадиева,Ася,Магомет-Башировна,Республика Ингушетия,"Лицо, сдавшее квалификационный экзамен",Нет
3,07/227,Абаев,Анзор,Игоревич,Кабардино-Балкарская Республика,"Лицо, сдавшее квалификационный экзамен",Да
4,64/432,Абаева,Анна,Вячеславовна,Саратовская область,"Лицо, сдавшее квалификационный экзамен",Нет
...,...,...,...,...,...,...,...
23155,25/45-н/25,Ященко,Светлана,Ивановна,Приморский край,Действующий,Нет
23156,78/290-н/78,Ященков,Сергей,Владимирович,г. Санкт-Петербург,Действующий,Нет
23157,24/204,Ященкова,Елена,Александровна,Красноярский край,"Лицо, сдавшее квалификационный экзамен",Нет
23158,52/160-н/52,Ящерицына,Вера,Александровна,Нижегородская область,Действующий,Нет
23159,77/1134,Ящук,Юрий,Ануфриевич,г. Москва,"Лицо, сдавшее квалификационный экзамен",Нет